<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ ctx.project_name }} - Project Report</title>
<style>
{{ css_vars }}

{{ css_body }}
</style>
</head>
<body>

{% include "cover.html.j2" %}
{% include "front_matter.html.j2" %}
{% include "abstract.html.j2" %}
{% include "toc.html.j2" %}
{% include "chapter.html.j2" %}
{% include "back_matter.html.j2" %}

</body>
</html>
