{% if images and images|length > 0 %}
<section class="page front" id="anchor-gallery">
  <h1>Project Image Gallery</h1>
  <div class="rule"></div>
  <div class="gallery">
    {% for img in images %}
      <figure class="gallery-item">
        <img src="{{ img.data_uri }}" alt="{{ img.caption }}">
        <figcaption>Figure {{ loop.index }}: {{ img.caption }}</figcaption>
      </figure>
    {% endfor %}
  </div>
</section>
{% endif %}
