<section class="page front" id="anchor-toc">
  <h1>Table of Contents</h1>
  <div class="rule"></div>

  <ul class="toc-list">
    <li>
      <a href="#anchor-ack">Acknowledgement</a>
    </li>

    {% for ch in ctx.chapters %}
    <li>
      <a href="#anchor-chapter-{{ loop.index }}">{{ ch.heading }}</a>
    </li>
    {% endfor %}

    <li>
      <a href="#anchor-appendices">Appendices</a>
    </li>
    <li>
      <a href="#anchor-references">References</a>
    </li>
  </ul>
</section>