<section class="page front" id="anchor-toc">
  <h1>Table of Contents</h1>
  <div class="rule"></div>

  <ul class="toc-list">
    {% for ch in ctx.chapters %}
    <li><span class="toc-title">{{ ch.heading }}</span></li>
    {% endfor %}

    <li><span class="toc-title">{{ ctx.chapters|length + 1 }}. Appendices</span></li>
    <li><span class="toc-title">{{ ctx.chapters|length + 2 }}. References</span></li>
  </ul>
</section>